@media (max-device-width: 500px) {
  .homepage .introduction_content .intro_text {
    bottom: -3.5rem;
    left: -0.8rem;
  }
  .hamburgerpage {
    font-size: 1.5rem;
  }
  .main_photo {
    margin-bottom: 7.3rem;
  }
  .real2 h2 {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 2rem;
    line-height: 100%;
    padding-top: 1rem;
  }
  .real1 {
    height: 50%;
  }
  .real3 h2 {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 1.5rem;
    line-height: 100%;
    padding-top: 1rem;
  }
  .real4 {
    height: 50%;
  }
  .reality {
    height: 200vh;
  }
  .r1 {
    font-weight: 500;
  }
  .inverted_dot {
    display: none;
  }
  .description a {
    display: none;
  }
  div.horitontal_scroll {
    /* display: none; */
  }
  #formopen {
    width: 55%;
  }
  div.conents_hor {
    min-width: 80%;
  }
  .form-popup {
    width: 78%;
    left: 12%;
  }
  .hamfoot {
    font-size: 1.1rem;
  }
}
@media (max-device-width: 380px) {
  .homepage .introduction_content .intro_text {
    bottom: 4.8rem;
    left: -0.5rem;
  }
  .main_photo {
    margin-bottom: 0.4rem;
  }
  .intro_text h1 {
    line-height: 2.3rem;
    font-size: 2.7rem;
  }
  .real2 h2 {
    font-size: 1.6rem;
    padding-top: 1rem;
  }
  .r1 {
    font-family: "Baloo Tammudu 2", cursive;
    font-size: 1.1rem;
  }
  #formopen {
    font-size: 1.3rem;
  }
  .form-popup {
    line-height: 2rem;
  }
  .interbutton1 {
    margin-top: 0.55rem;
  }
  .footer {
    font-size: 0.65rem;
  }
}
